<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><form method="post">

    <input name = 'Temperature' placeholder = 'Temperature' type="number">
    <input name = 'RH' placeholder = 'RH' type="number">
    <input name="Ws" placeholder="Ws" type="number">
    <input name="Rain" placeholder="Rain" type="text">
    <input name="FFMC" placeholder="FFMC" type="text">
    <input name="DMC" placeholder="DMC" type="text">
    <input name="ISI" placeholder="ISI" type="text">
    <input name="Classes" placeholder="Classes" type="text">
    <input name="Region" placeholder="Region" type="text">
    

    <button type = 'submit'>Submit</button>



</form>

<h1>the predicted output is {{results}}</h1>
    
</body>
</html>